.App {
  text-align: center;
}

.App-header {
  background-color: #191a1b;
  box-shadow: 0 0 5px 0 rgb(167, 167, 167);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  color: white;

  p {
    font-size: 18px;

    span {
      font-weight: 600;
      font-size: 42px;
    }
  }
}

.reader {
  color: white;
}

.displayText {
  background-color: #4e4e4e;
  padding: 1rem 2rem;
  margin: 1rem 4rem 2rem;
  color: rgb(170, 255, 181);
}

.textArea {
  position: relative;
  max-width: 90%;
  min-width: 90%;
  min-height: 55vh;
  max-height: 55vh;
  padding: 10px 1.25%;
  margin: 0 10px;
  overflow-y: auto;
  background-color: rgb(168, 167, 167);
}